/* --------------------------------
             Css Helper
-----------------------------------*/

.m-0 { margin: 0; }
.m-5 { margin: 5px; }
.m-10 { margin: 10px; }
.m-15 { margin: 15px; }
.m-20 { margin: 20px; }
.m-25 { margin: 25px; }

.p-0 { padding: 0; }
.p-5 { padding: 5px; }
.p-10 { padding: 10px; }
.p-15 { padding: 15px; }
.p-20 { padding: 20px; }
.p-25 { padding: 25px; }

.text-center { text-align: center; }

/* --------------------------------
               Style
-----------------------------------*/

body {
  font-family: sans-serif , Helvetica, "Trebuchet MS";
  color: #403b3b;
}

#img-div #image {
  max-width: 15%;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 100%;
}

#img-div #img-caption {
  max-width: 50%;
  margin: 60px auto;
}

#parallax {
  position: relative;
  /* The image used */
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b9/Steve_Jobs_Headshot_2010-CROP.jpg");

  /* Set a specific height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(120deg, #eaee44, #33d0ff);
  opacity: .7;
}

#parallax #parallax-caption {
  position: absolute;
  text-align: center;
  color: white;
  top: 100px;
  z-index: 10;
}

#parallax #go-to {
  position: absolute;
  font-size: 1.5em;
  color: white;
  padding: 7px;
  bottom: 25px;
  left: 50%;
  z-index: 10;
}

#parallax #go-to a {
  color: white;
}

#tribute-info h2 {
  background-color: #e2e2e2;
  padding: 20px;
  margin: 0;
}

#tribute-info .cards {
  background-color: #e2e2e296;
  flex-wrap: wrap;
}

#tribute-info .cards .card {
  min-width: 100%;
  padding: 10px;
}

#footer {
  background-color: #e2e2e2;
  font-weight: bold;
}

#footer a {
  color: #403b3b;
}
