*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

nav {
    background: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px;
}


a.fb {
    background: url(../img/fb.png) no-repeat center;
}

a.tw {
    background: url(../img/tw.png) no-repeat center;
}

nav ul.social {
    display: flex;
    flex: 1 1 0;
    max-width: 80px;
    margin: 0 auto;
}

nav ul.social li {
    flex: 1 1 0;
}

.social a {
    background-size: 80%;
    text-indent: -10000px;
}

nav a:hover {
    background-color: #555;
}

@media screen and (min-width: 768px) {

    nav ul {
        display: flex;
        justify-content: flex-start;
    }

    nav ul li {
        flex: 1 1 0;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    nav ul.social {
        margin: 0;
    }
}