*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
    color: #333;
}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

#blocks {
    display: flex;
    flex-flow: row wrap;

    margin: 10px;
    height: 100vh;
}

#blocks div {
    flex: 0 0 200px;
    padding: 40px 0;
    text-align: center;
    background: #ccc;
}

.one {
    align-self: center;
}

.tow {
}

.three {
}

.four {
}