*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

nav {
    background: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px;
    /*background-color: #777;*/
}

nav a:hover {
    background: #555;
}

@media screen and (min-width: 768px) {
    nav ul {
        display: flex;
        justify-content: flex-start; /*default*/
        /*justify-content: flex-end;*/
        /*justify-content: space-between;*/
        /*justify-content: space-around;*/
        /*justify-content: space-evenly;*/
    }

    nav ul li {
        flex: 1 1 0;
    }
}