*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
    color: #333;
}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

#blocks {
    display: flex;
    flex-flow: row wrap;
    /*align-items: center;*/
    align-content: center; /*flex-start|flex-end|space-between|space-aroun|stretch|center*/
    margin: 10px;
    height: 100vh;
}

#blocks div {
    flex: 0 0 200px;
    padding: 40px 0;
    text-align: center;
    background: #ccc;
}

.one {
}

.tow {
}

.three {
}

.four {
}