*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
    color: #333;
}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#items {
    background-color: #eee;
    border: .75em solid;
    padding: .75em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 80px;
    grid-gap: 10px;
    width: 220px;
}

.place-items {
    /*
    https://developer.mozilla.org/en-US/docs/Web/CSS/place-items
    https://developer.mozilla.org/en-US/docs/Web/CSS/place-self
    */
    /*
     The CSS place-items shorthand property sets the align-items and justify-items properties,
     respectively. If the second value is not set, the first value is also used for it.
    */
    place-items: flex-end center;
}

#items div {
    background-color: rgba(0,0,255,.2);
    border: 3px solid #00f;
    text-align: center;
}

.one {
    /*
    The place-self CSS property is a shorthand property sets both the align-self and justify-self properties. The first value is the align-self property value, the second the justify-self one.
    If the second value is not present, the first value is also used for it.
    */
    place-self: flex-end flex-end;
}

.tow {
}

.three {
}

.four {
}