*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
    color: #333;
}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#items {
    background-color: #eee;
    border: .75em solid;
    padding: .75em;
    display: grid;
    grid-template-columns: 60px 60px;
    grid-auto-rows: 40px;
    grid-gap: 10px;
    height: 180px;
    width: 220px;
}

.place-content {
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/place-content*/
    /*The place-content CSS property is a shorthand for align-content and justify-content.*/
    place-content: flex-start flex-end;
}

#items div {
    background-color: rgba(0,0,255,.2);
    border: 3px solid #00f;
    text-align: center;
}

.one {
}

.tow {
}

.three {
}

.four {
}