*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    background: #fff;
    flex-wrap: wrap;
}

.box {
    height: 100px;
    /*min-width: 200px;*/
    /*flex-basis similar to min-width: it is define starting width to an element*/
    /*flex-basis: 200px;*/

    flex-grow: 1;
}

.one {
    background-color: red;
    /*min-width: 100px;*/
    flex-basis: 100px;
}
.two {
    background-color: blue;
    /*min-width: 200px;*/
    flex-basis: 200px;
}
.three {
    background-color: green;
    /*min-width: 300px;*/
    flex-basis: 300px;
}

