*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    background: #fff;
    flex-wrap: wrap;
    /* row-reverse : reverse the order of boxes and put then on the right */
    flex-flow: column; /*column-reverse/row/row-reverse*/
    /* just apply to main axis */
    justify-content: flex-start;
    height: 800px;
}

.box {
    height: 100px;
    flex: 0 0 100px;
}

.one {
    background-color: red;
}
.two {
    background-color: blue;
}
.three {
    background-color: green;
}

