/* Start Main Rule */

body {
    background-color: #ffffff;
    font-family: Lato;
    height: 1200px;
}

/* End Main Rule */

/* Start Header */

.header .slider {
    background-image: url("../images/header.jpg");
    -webkit-background-size: cover; /*css3*/
    -moz-background-size: cover; /*css3*/
    -o-background-size: cover; /*css3*/
    background-size: cover; /*css3*/
    height: 600px;
}

.header .slider .intro {
    padding-top: 200px;
    text-align: center;
    color: #fff;
}

.header .slider .intro h2 {
    margin: 0 auto;
    font-size: 60px;
    width: 72%;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    padding: 10px 0;
    text-transform: uppercase;
    color: #fff;
}

.header .slider .intro button {
    text-transform: uppercase;
    background: none;
    margin-top: 50px;
    padding: 15px 40px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #fff;
    color: #fff;
}

.header .slider .intro button:hover {
    background-color: white;
    color: #919191;
}

.header .navbar {
    background-color: #252e30;
    color: #fff;
    overflow: hidden;
    text-transform: uppercase;
}

.header .navbar h2 {
    float: left;
}

.header .navbar h2 span {
    color: #2ecc71;
}

.header .navbar ul {
    list-style: none;
    padding-left: 0;
    float: right;
}

.header .navbar ul li {
    float: left;
    padding: 10px;
}

.header .navbar ul li a {
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
}

.header .navbar ul li.active a,
.header .navbar ul li a:hover {
    color: #2ecc71;
}

/* End Header */

/* Start About Me */

.about-me .image img {
    padding: 50px 0;
}

.about-me .icon i {
    font-size: 28px;
    color: #2ecc71;
}

.about-me .info {
    padding: 50px;
}

.about-me .info .skill {
    margin-top: 30px;
    padding: 0 20px 0 0;
}

/* End About Me */

/* Start My Skills */

.my-skills {
    padding: 100px 0;
    overflow: hidden;
}

.my-skills .skills h2 {
    color: #566366;
    text-transform: uppercase;
}

.my-skills .skills  p {
    line-height: 1.7;
    color: #919191;
}


.my-skills .skills button {
    text-transform: uppercase;
    background: none;
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: 900;
    border: 2px solid #70DC9E;
    color: #70DC9E;
}


.my-skills .skills button:hover {
    background-color: #70DC9E;
    color: #fff;
}

.my-skills .skills,
.my-skills .progress {
    width: 50%;
    float: left;
}

.my-skills .progress {
    box-sizing: border-box;
    padding-left: 20px;
}

.my-skills .progress h3 {
    margin-bottom: 15px;
}

.my-skills .progress .timer {
    height: 25px;
    background-color: #F6F6F6;
}

.my-skills .progress .timer span {
    display: block;
    height: 25px;
    line-height: 25px;
    background-color: #70DC9E;
    text-align: right;
    font-weight: bold;
    color: #fff;
}

/* End My Skills */

/* Start Resume */

.resume {
    background-color: #f2f2f2;
    padding: 80px 0;
    text-align: center;
}

.resume h2 {
    color: #566366;
    text-transform: uppercase;
}

.resume p {
    line-height: 1.7;
    margin: 30px;
    color: #919191;
}


.resume button {
    text-transform: uppercase;
    background: none;
    margin-top: 20px;
    padding: 15px;
    font-size: 15px;
    font-weight: 900;
    border: 2px solid #70DC9E;
    color: #70DC9E;
}


.resume button:hover {
    background-color: #70DC9E;
    color: #fff;
}

/* End Resume */

/* Start My Educations */

.my-education {
    padding: 30px 0;
    overflow: hidden;
}

.my-education .main,
.my-education .exp {
    width: 50%;
    float: left;
}

/* End My Educations */

/* Start Testimonials */

.testimonials {
    background-color: #f2f2f2;
    padding: 30px 0;
    text-align: center;
}

/* End Testimonials */

/* Start Portfolio */

.portfolio {
    padding: 30px 0;
    text-align: center;
}

.portfolio .our-work {
    overflow: hidden;
}

.portfolio .our-work > div {
    float: left;
    width: 33.33333%;
    margin-bottom: 10px;
}

.portfolio .our-work img {
    width: 92%;
    margin: 10px;
}
/*.portfolio .our-work {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

.portfolio .our-work .item,
.portfolio .our-work .item img {
    width: 100%;
    height: 100%;
}*/

/* End Portfolio */

/*  Start Contact Me */

.contact {
    background-color: #252e30;
    overflow: hidden;
}

.contact h2 {
    color: #fff;
}

.contact p {
    color: #919191;
}

.contact .info,
.contact .form {
    width: 50%;
    float: left;
}

/* End Contact Me */

/* Start Footer */
.footer {
    background-color: #191E22;
    color: #919191;
    padding: 20px 0;
    text-align: center;
}
/* End Footer */

/* Start My Framework */

* {
    box-sizing: border-box;
}

.bg-gray {
    background-color: #f2f2f2;
}

.uppercase {
    text-transform: uppercase;
}

.p-0 {
    padding: 0 !important;
}
.p-60 {
    padding: 60px !important;
}

.mt-5 { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mt-15 { margin-top: 15px; }
.mt-20 { margin-top: 20px; }
.mt-25 { margin-top: 25px; }
.mt-30 { margin-top: 30px; }
.mt-35 { margin-top: 35px; }

h2,h3 {
    color: #566366;
    font-weight: 800;
}

.h2 {
    margin-top: 0;
    margin-bottom: 30px;
}

.h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

p {
    color: #919191;
    line-height: 1.6;
}

.container {
    width: 1170px;
    margin: auto;
}
.row {
    overflow: hidden;
}
.section {
    padding: 60px 0;
}

[class*="col-"] {
    float: left;
    padding: 0 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.clearfix {
    clear: both;
}
.responsive-img {
    width: 100%;
}

/* End My Framework */