.container {
    margin: 0 auto;
    width: 1000px;
}

.row {
    clear: both;
}

.col-1:last-child,
.col-2:last-child,
.col-3:last-child{
    margin-right: 0px;
}

.col-1,
.col-2,
.col-3 {
    float: left;
    margin-right: 20px;
}

.col-1 {
    width: 235px;
}

.col-2 {
    width: 490px;
}

.col-3 {

    width: 745px;
}