/*!
 * Author: Ahmad al bashir barakat
 * Version: 1.0
 */

/*-----------------------------------
             Variables
-------------------------------------*/

$white: #fff;
$orange: #ff9700;
$lightBlue: #009dff;

/*-----------------------------------
             Utilities
-------------------------------------*/

.line {
  &-orange:after {
    content: '';
    display: block;
    width: 50px;
    margin: 10px auto;
    border-bottom: 6px solid $orange;
  }
  &-blue:after {
    content: '';
    display: block;
    width: 50px;
    margin: 10px auto;
    border-bottom: 6px solid $lightBlue;
  }
}

.p {
  &-6{
    padding:4.5rem 0!important
  }
}

/*-----------------------------------
             Custom Theme
-------------------------------------*/

body {
  font-family: 'Raleway', sans-serif;
  color: $white;
  // font-family: 'PT Serif', serif;
}

.navbar {
  padding: 0;
  .navbar-nav-transparent {
    .nav-item {
      .nav-link {
        color: $white;
        padding: 1.4rem 0;
        &:hover {
          color: $orange;
        }
      }
      padding: 0 1.4rem;
      &.active .nav-link {
        border-top: 5px solid $orange;
      }
      &:not(.active) .nav-link {
        margin-top: 5px;
      }
    }
  }
}

#home-section {
  min-height: 100vh;
  &:after {
    content: "";
    display: block;
    background: $lightBlue;
    position: absolute;
    min-height: 100vh;
    width: 35%;
    top: 0;
    z-index: 0;
    opacity: (75/100);
  }
  .content {
  }
  h1 {
    font-weight: bold;
    //font-size: 40em;
    letter-spacing: 10px;
    span {
      font-weight: 900;
      display: block;
    }
  }
}

#department-section {
  position: relative;
  background: #191919;
  min-height: 100vh;
  .header-content {
    position: absolute;
    z-index: 1;
    margin-top: 100px;
    width: 500px;
    span {
      display: block;
      letter-spacing: 10px;
    }
    p {
      width: 70%;
      margin-left: 45%;
    }
  }
  .items {
    position: relative;
    z-index: 0;
  }
  .item {
    min-height: 100vh;
    .item-content {
      position: relative;
      padding-top: 100%;
      z-index: 1;
    }
    &:hover {
      position: relative;
      background: url("../../images/4.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
      z-index: 1;

      &:before {
        content: '';
        position: absolute;
        background: #3f96db;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity:(70/100);
        z-index: 0;
      }
    }
  }
  .active {
    h2 {
      &:after {
        content: '';
        display: block;
        width: 17px;
        margin: 15px auto;
        border-bottom: 7px solid $orange;
      }
    }
  }
  h2 {
    letter-spacing: 5px;
    font-weight: bold;
    margin: 0;
    &:after {
      content: '';
      display: block;
      width: 7px;
      margin: 10px auto;
      border-bottom: 17px solid $lightBlue;
    }
  }
}

#word-section {
  h1 {
    letter-spacing: 5px;
    font-weight: bold;
  }
  blockquote,span {
    font-family: 'PT Serif', serif;
  }
}

#client-section {
  position: relative;
  &:before {
    content: '';
    display: block;
    background: #000;
    opacity: 0.7;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }
  h1 {
    margin-bottom: 4.5rem;
    letter-spacing: 5px;
    font-weight: bold;
  }
  p {
    font-weight: lighter;
  }
}

#tech-section {
  background: #e0e0e0;
  .item {
    svg {
      margin: 30px;
      width: 65px;
      height: 65px;
    }
    image {
      width: 65px;
      height: 65px;
    }
  }
}

#contect-section {
  h1 {
    margin-bottom: 4.5rem;
    letter-spacing: 5px;
    font-weight: bold;
  }
  .form-control {
    border-radius: 0;
    border-color: #9e9e9e;
  }
  button {
    border-radius: 0;
    padding: 10px 25px;
    background: $orange;
    color: $white;
    font-size: 12px;
    font-weight: bold;
  }
}

